{% extends "base.html.twig"  %}
{% block body %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Blog de Nathan</h1>
                    <span class="subheading">A Blog Theme by NATHANE</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="col-lg-8 col-md-10 mx-auto">
                {% for article in articles %}
                <div class="post-preview">
                    <img src="{{ article.image }}" class="img-thumbnail">
                    <a href="">
                        <h2 class="post-title">
                            {{ article.title }}
                        </h2>
                        <h3 class="post-subtitle">
                            {{ article.subtitle }}
                        </h3>
                    </a>
                    <p class="post-meta">Posted by
                        <a href="">{{ article.author }}</a>
                        on {{ article.createdAt | date('Y-m-d') }}</p>
                </div>
            <hr>
                {% endfor %}
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
            </div>
        </div>
    </div>
</div>

<hr>
{% endblock %}